<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SZZF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188C449A2011BEFE0062FB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C44B22011BEFE0062FB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C44BD2011BEFE0062FB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
